div.banner {
  background-color: var(--accent-darker);
  padding: 0;
  margin: 0;
  height: 15vh;
  display: flex;
  justify-content: center;
}

div.banner img {
  width: 128px;
  height: 128px;
  margin-top: 5vh;
  border-radius: 3%;
}

p.occupation {
  margin: auto;
  text-align: center;
}

h3.name {
  margin: auto;
  text-align: center;
  margin-top: 5vh;
}

div#main div.container {
  width: inherit;
  display: flex;
  justify-content: center;
}

/* div.container .graph { */
  
/* } */

