{{define "graph"}}
<div class="graph">
	<ul class="months">
		<li>Янв</li>
		<li>Фев</li>
		<li>Мрт</li>
		<li>Апр</li>
		<li>Май</li>
		<li>Июн</li>
		<li>Июл</li>
		<li>Авг</li>
		<li>Снт</li>
		<li>Окт</li>
		<li>Ноя</li>
		<li>Дек</li>
	</ul>
	<ul class="days">
		<li>Пн</li>
		<li>Вт</li>
		<li>Ср</li>
		<li>Чт</li>
		<li>Пт</li>
		<li>Сб</li>
		<li>Вс</li>
	</ul>
	<ul class="squares">
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="1"></li>
		<li data-level="0"></li>
		<li data-level="0"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="5"></li>
		<li data-level="3"></li>
		<li data-level="0"></li>
		<li data-level="0"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="1"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="4"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="1"></li>
		<li data-level="2"></li>
		<li data-level="1"></li>
		<li data-level="1"></li>
		<li data-level="1"></li>
		<li data-level="1"></li>
		<li data-level="2"></li>
		<li data-level="0"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="3"></li>
		<li data-level="2"></li>
		<li data-level="5"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="1"></li>
		<li data-level="2"></li>
		<li data-level="2"></li>
		<li data-level="4"></li>
		<li data-level="2"></li>
	</ul>
</div>
{{end}}
