{{define "header"}}
<header>
	<a href="/" class="logo">гермес</a>
	<a href="/">главная</a>
	<a href="journal">дневник</a>
	<a href="#">расписание</a>
	<a href="#">исходный код</a>
	<a href="my-account" class="right">личный кабинет</a>
</header>
{{end}}
