{{define "header"}}
<header>
	<a href="/" class="logo">гермес</a>
	<a href="/">главная</a>
	<a href="journal">дневник</a>
	<a href="#">расписание</a>
	<a href="https://github.com/dementij2048/hermes">исходный код</a>
	<a href="my-account" class="right">личный кабинет (гость)</a>
</header>
{{end}}
