<!DOCTYPE html>
<html>
	<head>
		<title>гермес</title>
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>
	<body>
		{{template "header"}}
		<nav>
			<ul>
				<li><a href="">о проекте/</a></li>
				<li><a href="">функционал/</a></li>
				<li><a href="">планы развития/</a></li>
			</ul>
		</nav>

		<div id="main">
			<h3 class="logo">гермес</h3>
			<p>независимый электронный журнал с открытым исходным кодом</p>
			<p>создан в 2026 году в качестве школьного проекта по информатике</p>
			<h3 class="section logo">новости</h3>
			<h3>2026.04.12</h3>
			<ul>
				<li>
					<p>С Пасхой!</p>
					<p>Сей обновление в электронный дневник "гермес©™"©™ (2027) Turbo©™ отличилось данными нововведениями:</p>
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
						<li>Malesuada mauris, turpis sodales luctus. Nulla mauris ipsum, Maecenas tincidunt ex in neque iaculis euismod. suscipit finibus sed nec velit. Maecenas non enim nulla. Pellentesque a viverra sem. Vivamus at nibh rutrum, sodales orci eget, consequat eros</li>
					</ul>
				</li>
				<li>
					<p>Субботник</p>
					<ul>
						<li>В понедельник в нашей школе будет проводиться субботник, участвуют ученики 5-11 классов, просьба прийти в рабочей форме</li>
					</ul>
				</li>
			</ul>
			<h3>2026.01.01</h3>
			<ul>
				<li>
					<p>С Новым Годом!</p>
					<p>Это обновление в электронный журнал "гермес©™"©™ (2026) привнесло:</p>
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at risus ut eros aliquet tempus. Fusce egestas neque sem, vel commodo neque vulputate ornare. Morbi nec metus et velit ultrices volutpat</li>
						<li>Fusce at malesuada mauris, id eleifend mi. Pellentesque viverra nec velit sit amet semper. Morbi ornare augue vulputate turpis sodales luctus. Nulla mauris ipsum, vestibulum eu sagittis sed, ultrices quis arcu. Maecenas tincidunt ex in neque iaculis euismod. Mauris vitae augue sagittis ex suscipit finibus sed nec velit. Maecenas non enim nulla. Pellentesque a viverra sem. Vivamus at nibh rutrum, sodales orci eget, consequat eros</li>
					</ul>
				</li>
			</ul>
		</div>
	</body>
</html>
