<!DOCTYPE html>
<html>
	<head>
		<title>дневник</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/account.css">
		<link rel="stylesheet" href="/stylesheets/grade-grid.css">
		<link rel="stylesheet" href="/stylesheets/journal.css">
	</head>
	<body>
		{{template "header"}}
		<nav>
			<ul>
				<li><a href="">текущая неделя/</a></li>
				<li><a href="">следующая/</a></li>
				<li><a href="">прошедшая/</a></li>
				<li><a href="">выбрать дату/</a></li>
			</ul>
		</nav>
		<div id="main" class="max-width">
			<div class="day">
				<p class="day-date">Понедельник, 31.02</p>
				<div class="lesson">
					<div class="lesson-number">1</div>
					<div class="lesson-time">8:00-8:40</div>
					<div class="lesson-subject">Математика</div>
					<div class="lesson-homework">Без задания</div>
					<div class="lesson-marks" data-grade="4">4</div>
				</div>
				<div class="lesson">
					<div class="lesson-number">2</div>
					<div class="lesson-time">8:50-9:30</div>
					<div class="lesson-subject">Русский</div>
					<div class="lesson-homework"></div>
					<div class="lesson-marks" data-grade="3">3</div>
				</div>
				<div class="lesson">
					<div class="lesson-number">3</div>
					<div class="lesson-time">9:50-10:30</div>
					<div class="lesson-subject">Литература</div>
					<div class="lesson-homework">Война и мир пересказ по главам</div>
					<div class="lesson-marks" data-grade="2">2</div>
				</div>
				<div class="lesson">
					<div class="lesson-number">4</div>
					<div class="lesson-time">10:50-11:30</div>
					<div class="lesson-subject">Иностранный язык</div>
					<div class="lesson-homework">РТ с.51 №12 Аудирование</div>
				</div>
				<div class="lesson">
					<div class="lesson-number">5</div>
					<div class="lesson-time">11:40-12:20</div>
					<div class="lesson-subject">Физическая культура</div>
					<div class="lesson-homework">Повторить правила игры в волейбол</div>
					<div class="lesson-marks" data-grade="5">5</div>
				</div>
				<div class="lesson">
					<div class="lesson-number">6</div>
					<div class="lesson-time">12:30-13:10</div>
					<div class="lesson-subject">Основы духовно-нравственной культуры народов России</div>
					<div class="lesson-homework"></div>
					<div class="lesson-marks" data-grade="1">1</div>
				</div>
			</div>
		</div>
	</body>
</html>
