<!DOCTYPE html>
<html>
	<head>
		<title>дневник</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/account.css">
		<link rel="stylesheet" href="/stylesheets/grade-grid.css">
		<link rel="stylesheet" href="/stylesheets/journal.css">
	</head>
	<body>
		{{template "header"}}
		<nav>
			<ul>
				<li><a href="">главное/</a></li>
				<li><a href="">оценки/</a></li>
				<li><a href="">успеваемость/</a></li>
			</ul>
		</nav>
		<div id="main">
			<div class="day">
				<p class="day-date">dayum, 42.96</p>
				<div class="lesson">
					<div class="lesson-number">1</div>
					<div class="lesson-time">7:00</div>
					<div class="lesson-subject">MAKAN</div>
					<div class="lesson-homework">SOSAL</div>
					<div class="lesson-marks">3</div>
				</div>
				<div class="lesson">
					<div class="lesson-number">2</div>
					<div class="lesson-time">7:00</div>
					<div class="lesson-subject">MAKAN</div>
					<div class="lesson-homework">SOSAL</div>
					<div class="lesson-marks">3</div>
				</div>
				<div class="lesson">
					<div class="lesson-number">3</div>
					<div class="lesson-time">7:00</div>
					<div class="lesson-subject">MAKAN</div>
					<div class="lesson-homework">SOSAL</div>
					<div class="lesson-marks">3</div>
				</div>
				<div class="lesson">
					<div class="lesson-number">4</div>
					<div class="lesson-time">7:00</div>
					<div class="lesson-subject">MAKAN</div>
					<div class="lesson-homework">SOSAL</div>
					<div class="lesson-marks">3</div>
				</div>
				<div class="lesson">
					<div class="lesson-number">5</div>
					<div class="lesson-time">7:00</div>
					<div class="lesson-subject">MAKAN</div>
					<div class="lesson-homework">SOSAL</div>
					<div class="lesson-marks">3</div>
				</div>
				<div class="lesson">
					<div class="lesson-number">6</div>
					<div class="lesson-time">7:00</div>
					<div class="lesson-subject">MAKAN</div>
					<div class="lesson-homework">SOSAL</div>
					<div class="lesson-marks">3</div>
				</div>
			</div>
		</div>
	</body>
</html>
